
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Редактирование опции комфорта</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:href="@{/order/}" class="nav-link">Заказы</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/auto/}" class="nav-link">Автомобили</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/complectation/}" class="nav-link">Комплектации</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/comfort-option/}" class="nav-link">Опции комфорта</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/security-option/}" class="nav-link">Опции безопасности</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="card">
            <div class="card-header">
                Редактирование опции комфорта
            </div>
            <div class="card-body">
                <form action="#" th:action="@{/comfort-option/update/{id}(id=${comfortOption.id})}" th:object="${comfortOption}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name" class="col-form-label">Название</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Название">
                        </div>
                    </div>
                    <div class="row ml-1">
                        <input type="submit" class="btn btn-outline-primary" value="Сохранить"
                               style="margin-right: 10px">
                        <a href="/comfort-option" class="btn btn-outline-danger">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>